{
  "extends": ["plugin:vue/recommended", "airbnb"],
  "rules": {
    "no-plusplus": 0,
    "import/no-unresolved": 0,
    "import/no-unassigned-import": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
