.timer {
  text-align: center;
  display:flex;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

.container {
  margin:auto;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}
